---
import PageLayout from '@/layouts/Page.astro'

import milli from '@/assets/photos/milli.jpg'
import btrd from '@/assets/photos/btrd.png'
import crochet from '@/assets/photos/crochet.jpg'
import pillow from '@/assets/photos/pillow.jpg'
import slippers from '@/assets/photos/slippers.jpg'
import bag from '@/assets/photos/varras1.jpg'
import hiking from '@/assets/photos/MÉCS_PBJ-40.jpg'
import skiing from '@/assets/photos/20190126_151150.jpg'
import threed1 from '@/assets/photos/3d-printing-1.jpg'
import threed2 from '@/assets/photos/3d-printing-2.jpg'
import apple from '@/assets/photos/apple2.png'
import nepiep2 from '@/assets/photos/nepiep2.jpg'
import rajz from '@/assets/photos/rajz.jpg'
import folding from '@/assets/photos/hoffmann_eszter_3feladat_3b.jpg'
---

<PageLayout>
  <div id="topicContainer">
    <div class="topic">
      <!-- <h2>Egyetem</h2> -->
      <div style={{ width: '40%', top: '10%', left: '55%' }}>
        <p>
          Számomra nagyon motiváló volt az egyetemi évek változatossága.
          Szerettem, hogy egyszerre volt jelen a rajz és a matek, a művészet és
          a statika.
        </p>
      </div>

      <img
        src={folding.src}
        style={{ width: '22%', top: '50%', left: '14%' }}
      />
      <img src={rajz.src} style={{ width: '23%', top: '28%', left: '40%' }} />
      <img
        src={nepiep2.src}
        style={{ width: '23%', top: '74%', left: '86%' }}
      />
    </div>

    <div class="topic">
      <!-- <h2>Családi mesekönyvünk</h2> -->
      <div style={{ width: '42%', top: '22%', left: '20%' }}>
        <p>
          Kisfiam születésének hírére, Nagyapi nekiállt megírni a család
          fontosabb plüssállatainak történeteit, én pedig belevetettem magam a
          karaktertervezésbe és illusztrálásba. 2024 karácsonyán pedig már
          együtt lapozhatták az unokák az első családi mesekönyvünket.
        </p>
      </div>

      <img src={milli.src} style={{ width: '30%', top: '50%', left: '80%' }} />
      <img
        src={apple.src}
        style={{ width: '12%', top: '77%', left: '8%', boxShadow: 'none' }}
      />
    </div>

    <div class="topic">
      <!-- <h2>3d nyomtatás</h2> -->
      <div style={{ width: '35%', top: '25%', left: '32%' }}>
        <p>
          Bár a férjem hatására került 3d nyomtató a háztartásunkba, mára már
          van, hogy én használom többet. :)
        </p>
      </div>

      <img
        src={threed1.src}
        style={{ height: '80%', top: '49%', left: '14%' }}
      />
      <img
        src={threed2.src}
        style={{ height: '70%', top: '57%', left: '86%' }}
      />
    </div>

    <div class="topic">
      <!-- <h2>festés, varrás, polotervek</h2> -->
      <div>
        <p>
          A kézművesség kiskoromtól az életem részét képzi. A varrás, horgolás,
          festés mind-mind olyan dolog, ami kikapcsol és még másoknak is örömet
          tudok szerezni vele.
        </p>
      </div>
      <img
        src={pillow.src}
        style={{ height: '50%', top: '65%', left: '61%' }}
      />
      <img
        src={slippers.src}
        style={{ height: '50%', top: '65%', left: '39%' }}
      />
      <img src={bag.src} style={{ height: '50%', top: '65%', left: '15%' }} />
      <img
        src={crochet.src}
        style={{ height: '50%', top: '65%', left: '85%' }}
      />
    </div>

    <div class="topic">
      <!-- <h2>sport</h2> -->
      <div style={{ width: '57%', top: '11%', left: '10%' }}>
        <p>
          Lovaglás, vívás, falmászás, túrázás, síelés, tollas... épp mikor mi
          illeszhető bele az életembe. Mozogni mindenesetre nagyon szeretek!
        </p>
      </div>

      <img src={hiking.src} style={{ width: '23%', top: '50%', left: '85%' }} />
      <img src={skiing.src} style={{ width: '20%', top: '68%', left: '15%' }} />
    </div>

    <div class="topic">
      <!-- <h2>honlap</h2> -->
      <div>
        <p>
          Szeretek tanulni és új dolgokat kipróbálni. A férjem révén pedig olyan
          dolgokba is bele merek kezdeni, ami egyedül túl nagy falat lenne. Az
          első honlap készítési kísérletem a Batári Design építésziroda honlapja
          volt és ez a portfólió pedig egy újabb kísérlet.
        </p>
      </div>
      <img src={btrd.src} style={{ width: '20%', top: '68%', left: '75%' }} />
    </div>
  </div>
</PageLayout>

<style>
  :root {
    --topic-height: 256px;
    /*               (full  - header - (     topic         * pad)) / 2 */
    --topic-gap: calc((100vh - 48px - (var(--topic-height) * 1.1)) / 2);
  }

  #topicContainer {
    display: flex;
    flex-direction: column;

    gap: var(--topic-gap);
    padding: var(--topic-gap) 0;
  }

  .topic {
    position: relative;

    min-height: var(--topic-height);

    padding: 5%;
    /* border: 2px solid black; */
    background-color: rgb(203 206 199);

    scroll-snap-align: center;
  }

  .topic > div {
    position: absolute;
  }

  .topic > img {
    position: absolute;
    transform: translate(-50%, -50%);

    /* Copied from Level 4 shadow of Material UI */
    box-shadow:
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  @media (max-width: 900px) {
    .topic > div {
      width: 100% !important;

      position: unset;
      top: unset !important;
      left: unset !important;
    }

    .topic > img {
      display: inline-block;
      width: 40% !important;
      height: unset !important;

      position: unset;
      top: unset !important;
      left: unset !important;

      transform: unset;
    }
  }
</style>
